 <div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
     <h1>User info</h1>
      <%= image_tag current_user.get_profile_image(50,50) %></p>
     <table class="table">
  <tr><th>name</th> <td><%= current_user.name %></td></tr>
  <tr><th>introduction</th> <td><%= current_user.introduction %></td></tr>
</table>
<div class="row">
   <%= link_to  edit_user_path(current_user), class: "btn btn-outline-secondary btn-block" do %>
     <i class="fas fa-user-cog"></i>
      <% end %>
</div>