@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';


.notice {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-top: 0;
    margin-bottom: 1rem;
    color: green;
}

.form-group {
    margin-bottom: 1rem;
}

#error_explanation {
    color: red;
}

div.field, div.actions {
    margin-bottom: 10px;
}